
<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me=3 text-light" (click)="SideNavToggle()">
 
        <span class="material-symbols-outlined">
            menu
            </span>
    </div>
    
    <a class="navbar-brand px-4" href="#">  <!--img--></a>
    <div class="container-fluid">
     
      </div>
     
   
    <div class="btn-group dropstart">
      
   
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          
        <span class="material-symbols-outlined" >
          person
          </span>
        </button> 
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/customer">Paramètres du compte</a></li>
          <li > <a class="dropdown-item"routerLink="/register">Ajouter utilisateur</a></li>
          <li><a class="dropdown-item"routerLink="/user">Gérer les roles</a></li>
          <li><a class="dropdown-item"routerLink="/login">Déconnexion</a></li>
        </ul>
     
      </div>
</nav> 