.nav{
    height: 100%;

}
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    

}


.side-nav-button:hover{
    background-color: rgba(255,255, 255, 0.2);
    border-radius: 30%;
}
.btn-outline-success{
    color: white;
    border-color: white ;
}
.btn-outline-success:hover{
    background-color: rgba(255,255, 255, 0.3);

}
.navbar-nav{
    margin-right: 20px;

}
.container-fluid{
    position: center ;
    margin-left: 30%;
}
.btn-secondary{
    background-color: black;
    border-color: white ;
}
.btn-secondary:hover{
    background-color:rgba(255,255, 255, 0.3);
    
}


.material-symbols-outlined {
    color: white;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.dropdown-menu{
    background-color: rgba(34, 34,34, 1);
}
.dropdown-item:hover{
    background-color: rgba(255,255, 255, 0.3);
}
.logo-image {
    max-width: 100%;
    max-height: 100px; /* Ajustez la hauteur maximale selon vos besoins */
    width: auto;
    height: auto;
  }