<h1 mat-dialog-title>Modifié permission</h1>
<form [formGroup]="registerform" (ngSubmit)="UpdateUser()">
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>permission</mat-label>
            <mat-select formControlName="idRole">
                <mat-option value=''>Selectionner permission</mat-option>
                <mat-option *ngFor="let item of rolelist" [value]="item.idRole">
                    {{item.roleName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        

    </div>
    <div mat-dialog-actions>
        <div class="button">
        <button type="submit" mat-raised-button color="#FF6600" style="background-color: #FF6600" cdkFocusInitial>Sauvegarder</button>
    </div>
        <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
    </div>
</form>