.black-border {
  border: 1px solid black;
  margin-top: 2px;



}

app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 50px;
  z-index: 2;
}

main {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 1;

}

app-side-nav {
  position: absolute;
  left: 0rem;
  height: calc(100vh - 50px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  border-top: 2px solid white;
  overflow: hidden;
  white-space: nowrap;
  width: 70px;


}

.app-side-nav-open {
  width: 250px;
}

.display-area {

  position: absolute;
  left: 70px;
  width: calc(100% - 250px);

}

.display-area-shrink {
  left: 230px;
  width: calc(100% - 250px);


}

@media screen and (max-width: 90px) and (min-width: 50px) {}


.modal-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Divise l'espace en deux colonnes égales */
  grid-gap: 20px;
  /* Espace entre les colonnes */
}


h4 {
  font-family: Arial, sans-serif;
  /* Police */
  font-size: 18px;
  /* Taille de police */
}

.image-frame {
  border: 2px solid black;
  padding: 5px;
}



.modal-title {
  color: #FF6600;
  font-size: 20px !important;
  font-weight: bold !important;
}

.chart-container h4 {
  color: #212529 !important;
  font-size: 17px !important;
  font-weight: bold !important;
}

.table-container h4{
  color: #FF6600 !important;
  font-size: 17px !important;
  font-weight: bold !important;
  margin-right:-30%;


}


.custom-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -79%;
  position: relative;
  left: -35px; /* Décalage horizontal */
}


.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-color {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.legend-label {
  font-size: 16px;
}

.table-container {
  
  transform: translate(50%, 0%);
  max-height: 150px;
  overflow-y: auto;
}

