<div class="container-fluid g-0">

  <app-header (sideNavToggled)="sideNavStatus= $event; ">

  </app-header>


  <main>

    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>

    <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}">


      <div #myDiagramDiv style="width:1300px; height:520px; margin-top: 15px;"></div>

      <div class="modal-dialog modal-dialog-centered modal-sm" role="document" >
        <ng-template #content let-modal #modal1>
          <div class="modal-header" >
            <h4 class="modal-title">CE-SFAX</h4>
            <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="closeModal()">
           
            </button>
          </div>
          <div class="modal-body" >
            <div class="chart-container">
              <h4>Graphique RAM</h4>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="ramData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false">
              </ngx-charts-pie-chart>
            </div>
            <div class="chart-container">
              <h4 >Graphique CPU</h4>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="cpuData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false"  >
              </ngx-charts-pie-chart>

              <div class="custom-legend">
                <h4>légende </h4>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #3D823B;"></div>
                  <div class="legend-label">Libre</div>
                </div>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #BFBFBF;"></div>
                  <div class="legend-label">Utilisé</div>
                </div>
              </div>
            </div>

            <div class="table-container">
              <div class="table-scroll">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom de l'interface</th>
                    <th>État de l'interface</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <tr *ngFor="let row of tableData">
                    <td>{{ row.nameInterface }}</td>
                    <td [style.color]="row.interfaceColor">{{ row.interfaceState }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          </div>
        </ng-template>
      </div>


      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <ng-template #content let-modal #modal2>
          <div class="modal-header">
            <h4 class="modal-title">CE-TUNIS</h4>
            <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="closeModal()">
           
            </button>
          </div>
          <div class="modal-body">
            <div class="chart-container">
           
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="ramData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false">
              </ngx-charts-pie-chart>
            </div>
            <div class="chart-container">
              <h4 style=" font-size: 20px;font-family: Arial, sans-serif;">Graphique CPU</h4>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="cpuData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false">
              </ngx-charts-pie-chart>
              <div class="custom-legend">
                <h4>légende </h4>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #3D823B;"></div>
                  <div class="legend-label">Libre</div>
                </div>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #BFBFBF;"></div>
                  <div class="legend-label">Utilisé</div>
                </div>
              </div>
            </div>
            <div class="table-container">
              <div class="table-scroll">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom de l'interface</th>
                    <th>État de l'interface</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <tr *ngFor="let row of tableData">
                    <td>{{ row.nameInterface }}</td>
                    <td [style.color]="row.interfaceColor">{{ row.interfaceState }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>

          </div>
        </ng-template>
      </div>


      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <ng-template #content let-modal #modal3>
          <div class="modal-header">
            <h4 class="modal-title">SW-EDGE-TUNIS</h4>
            <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="closeModal()">
           
            </button>
          </div>
          <div class="modal-body">
            <div class="chart-container">
              <h4>Graphique RAM </h4>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="ramData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false">
              </ngx-charts-pie-chart>
            </div>
            <div class="chart-container">
              <h4 style=" font-size: 20px;font-family: Arial, sans-serif;">Graphique CPU</h4>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="cpuData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false">
              </ngx-charts-pie-chart>
              <div class="custom-legend">
                <h4>légende </h4>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #3D823B;"></div>
                  <div class="legend-label">Libre</div>
                </div>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #BFBFBF;"></div>
                  <div class="legend-label">Utilisé</div>
                </div>
              </div>
            </div>

            <div class="table-container" >
          
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom de l'interface</th>
                    <th>État de l'interface</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData">
                    <td>{{ row.nameInterface }}</td>
                    <td [style.color]="row.interfaceColor">{{ row.interfaceState }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </ng-template>
      </div>


      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <ng-template #content let-modal #modal4>
          <div class="modal-header">
            <h4 class="modal-title">SW-EDGE-SFAX</h4>
            <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="closeModal()">
           
            </button>
          </div>
          <div class="modal-body">
            <div class="chart-container">
              <h4>Graphique RAM</h4>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="ramData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false">
              </ngx-charts-pie-chart>
            </div>
            <div class="chart-container">
              <h4 style=" font-size: 20px;font-family: Arial, sans-serif;">Graphique CPU</h4>
              <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="cpuData" [legend]="false"
                [doughnut]="true" [arcWidth]="1" [gradient]="false" [labels]="false">
              </ngx-charts-pie-chart>
              <div class="custom-legend">
                <h4>légende </h4>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #3D823B;"></div>
                  <div class="legend-label">Libre</div>
                </div>
                <div class="legend-item">
                  <div class="legend-color" style="background-color: #BFBFBF;"></div>
                  <div class="legend-label">Utilisé</div>
                </div>
              </div>
            </div>
           <div class="table-container" >
      
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom de l'interface</th>
                    <th>État de l'interface</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData">
                    <td>{{ row.nameInterface }}</td>
                    <td [style.color]="row.interfaceColor">{{ row.interfaceState }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </div>

      
    </div>

  </main>

</div>