
<div class="side-nav-content ">
    <ul class="nav-list " [ngClass]="{'nav-list-open': sideNavStatus}">  
        <li class="nav-list-item" >
          <i class="material-symbols-outlined"  routerLink="/userspace"  > home </i>
          <span > <a a routerLink="/userspace"  >Accueil</a></span> 
         
        </li>
        <li class="nav-list-item " >
            <i class="material-symbols-outlined" routerLink="/map"  >
                home_pin
            </i>
                <span > <a routerLink="/map"  > Voir les sites</a></span> 
    
            </li>
        <li class="nav-list-item " >
            <i class="material-symbols-outlined" routerLink="/topology" >
                lan </i>
                <span > <a routerLink="/topology" > Voir la topologie</a></span> 
    
            </li>
   
        <li class="nav-list-item" >
        <i class="material-symbols-outlined" routerLink="/telecom">
            list_alt </i>
            <span > <a a routerLink="/telecom">Liste des services</a></span> 

        </li>
      
    </ul>

</div>
