

.material-symbols-outlined {
    margin-top: 15px;

    color: azure;
    cursor: pointer;
 
  font-variation-settings:
  
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

}

.border-white{
    border: 1px solid white;
}
.side-nav-content{
    color: white;
    width: 230px;
    margin-left: 9.5px;
    margin-right: 10px;
    margin-top: 10px;

    

}
.nav-list{
    height: 100%;
    padding: 0%;
    margin-bottom: 0%;
}
.nav-list-item{
    display: flex;
    align-items: center;
    height: 70px;

}



.nav-list-item  :hover{
    background-color: rgba(255,255, 255, 0.3);
    border-radius: 10px;
    font-size: 15px;

}

.nav-list-item span {
    width: 150px;

}
.nav-list-item  i{
    font-size: 40px;
    height: 30px;
    text-align: center;
    width: 25px;
    margin-right: 25px;
    margin-left: 20px;
    line-height: 20px;
    margin-left: 10px;


}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;

}