<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus= $event; ">
  </app-header>
  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>
    <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <div class="container" >
        <button class="btn" id="uniqueBtn" (click)="onL3vpnClick()" style="color: #FF6600;" title="Cliquez ici pour afficher vos services en cour" class="btn improved-btn" id="toggle-button">
          <span class="material-symbols-outlined mr-2" style="color: #000000;" >
          visibility
          </span>
        </button>
        <div id="map"></div>


        <div id="side-panel">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" (click)="onL3vpnClick()" style="color: black !important; font-weight: bold;">L3VPN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onInternetClick()"  style="color: black !important; font-weight: bold;"> Internet </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " (click)="onWebfiltringClick()" tabindex="-1" aria-disabled="true" style="color: black !important; font-weight: bold;" >Web filtring</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "  tabindex="-1" aria-disabled="true" (click)="onAppControlClick()" style="color: black !important; font-weight: bold;" >App Control</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "  tabindex="-1" aria-disabled="true" (click)="onIpsClick()" style="color: black !important; font-weight: bold;" >ips</a>
            </li>
          </ul>


          <div class="postion">
            <div *ngIf="selectedTab === 'l3vpn'">

              <p>  Ceci est un aperçu de l'état actuel de vos connexions L3VPN.</p>

              <table class="table table-bordered">
                <thead>
                  <tr>
                      <th style=" text-align: center;"> Site </th>
                      <th style=" text-align: center;"> Statut </th>
                      <th style=" text-align: center;" > Action </th>
                  </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="reponse && reponse.length; else emptyTable">
                  <ng-container *ngFor="let resultat of reponse">
                    <tr>
                      <td>{{resultat.siteDTOS[0].city}} ,{{resultat.siteDTOS[1].city}}</td>
                      <td> {{ resultat.service.state == 'running' ? 'Actif' : 'Désactivé' }} </td>
                      <td>
                        <div class="btn" *ngIf="!deleting[resultat.service.idService]" (click)="deleteSiteL3VpnAndL3Vpn(resultat.siteDTOS,resultat.service.idService)" >
                          <svg   style="color : red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                        </div>
                        <div *ngIf="deleting[resultat.service.idService]">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                   Suppression du service en cours... Veuillez patienter jusqu'à la fin de l'opération.
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                  <ng-template #emptyTable>
                    <tr>
                      <td colspan="3" style="font: 12px Roboto sans-serif ; color: darkgrey">Désolé, il n'y a pas d'informations à montrer actuellement</td>
                    </tr>
                  </ng-template>
                </tbody>

              </table>
            </div>
            <div *ngIf="selectedTab === 'QoSInternet'">
              <p> Ceci est un aperçu de l'état actuel de vos connexions Internet.</p>

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style=" text-align: center;"> Site </th>
                  <th style=" text-align: center;"> Débit en Méga </th>
                  <th style=" text-align: center;"> Action </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="reponse && reponse.length; else emptyTable">
                <ng-container *ngFor="let resultat of reponse">
                  <tr *ngFor="let site of resultat.siteDTOS">
                    <td>{{site.nameCompany}} {{site.city}}</td>
                    <td> {{resultat.service.bandWidth}} </td>
                    <td>
                      <div *ngIf="!deleting[resultat.service.idService]"  class="btn"  (click)="deleteServiceInternet(site.idSite,resultat.service.idService)" >
                        <svg style="color : red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                      </div>
                      <div *ngIf="deleting[resultat.service.idService]">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Suppression du service en cours... Veuillez patienter jusqu'à la fin de l'opération.
                      </div>
                    </td>
                  </tr>
                </ng-container>
                </ng-container>
                <ng-template #emptyTable>
                  <tr>
                    <td colspan="3" style="font: 12px Roboto sans-serif ; color: darkgrey">Désolé, il n'y a pas d'informations à montrer actuellement</td>
                  </tr>
                </ng-template>
                </tbody>

              </table>
            </div>
            <div *ngIf="selectedTab === 'webfiltring'">
              <p> Ceci est un aperçu de l'état actuel de votre filtrage web.</p>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style=" text-align: center;" >Site</th>
                  <th style=" text-align: center;" >Date d'expiration de licence</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="reponse && reponse.length; else emptyTable">
                <ng-container *ngFor="let resultat of reponse">
                  <tr *ngFor="let site of resultat.siteDTOS">
                    <td>{{site.nameCompany}} {{site.city}}</td>
                    <td> {{resultat.service.licenseExpiration | date:'dd-MM-yyyy'}} </td>
                  </tr>
                </ng-container>
                </ng-container>
                <ng-template #emptyTable>
                  <tr>
                    <td colspan="3" style="font: 12px Roboto sans-serif ; color: darkgrey">Désolé, il n'y a pas d'informations à montrer actuellement</td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
            <div *ngIf="selectedTab === 'appControl'">
              <p> Ceci est un aperçu de l'état actuel de votre contrôle des applications. </p>

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style=" text-align: center;" >Site</th>
                  <th style=" text-align: center;"> Date d'expiration de licence</th>

                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="reponse && reponse.length; else emptyTable">
                <ng-container *ngFor="let resultat of reponse">
                  <tr *ngFor="let site of resultat.siteDTOS">
                    <td>{{site.nameCompany}} {{site.city}}</td>
                    <td> {{resultat.service.licenseExpiration | date:'dd-MM-yyyy'}} </td>
                  </tr>
                </ng-container>
                </ng-container>
                <ng-template #emptyTable>
                  <tr>
                    <td colspan="3" style="font: 12px Roboto sans-serif ; color: darkgrey">Désolé, il n'y a pas d'informations à montrer actuellement</td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
            <div *ngIf="selectedTab === 'ips'">

              <p>Ceci est un aperçu de l'état actuel de votre système de prévention des intrusions.</p>

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style=" text-align: center;" >Site</th>
                  <th style=" text-align: center;" > Date d'expiration de licence</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="reponse && reponse.length; else emptyTable">
                <ng-container *ngFor="let resultat of reponse">
                  <tr *ngFor="let site of resultat.siteDTOS">
                    <td>{{site.nameCompany}} {{site.city}}</td>
                    <td> {{resultat.service.licenseExpiration | date:'dd-MM-yyyy'}} </td>
                  </tr>
                </ng-container>
                </ng-container>
                <ng-template #emptyTable>
                  <tr>
                    <td colspan="3" style="font: 12px Roboto sans-serif ; color: darkgrey">Désolé, il n'y a pas d'informations à montrer actuellement</td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
