.black-border {
  border: 1px solid black;
  margin-top: 2px;
}

app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 50px;
  z-index: 2;
}

main {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 1;

}

app-side-nav {
  position: absolute;
  left: 0rem;
  height: calc(100vh - 50px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  border-top: 2px solid white;
  overflow: hidden;
  white-space: nowrap;
  width: 70px;


}

.app-side-nav-open {
  width: 250px;
}

.display-area {

  position: absolute;
  left: 70px;
  width: calc(100% - 250px);

}

.display-area-shrink {
  left: 230px;
  width: calc(100% - 250px);
}

#map {
  height: 100vh;
  width: 250vh;
  position: fixed;
}

@media screen and (max-width: 90px) and (min-width: 50px) {}

.mat-sidenav {
  width: 300px;
}

button {
  position: absolute;
  top: 130px;
  z-index: 1000;
}
.container {
  display: flex;
  height: 92vh;
  margin-left: -10px;
}

#map {
  flex: 1;
}

#side-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-right: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);

}

#side-panel.visible {
  transform: translateX(0);
}


.improved-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  font-size: 24px;
  border: 2px solid #adb5bd;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  top: 125px;
  left: 10px;
}

.improved-btn:hover {
  background-color: #f8f9fa;
}

.improved-btn span.material-symbols-outlined {
  font-size: 22px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: black;
}
.site-title {
  color: #FF6600;
  font-size: 13px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}
ul{
  position: relative;
  top: 50px;
  border: 2px solid #adb5bd33;
  background: white;

}
.card-body{
  position: relative;
  top: 50px;
  background: white;
}

.postion{
  position: relative;
  top: 50px;
  background: white;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  font: 14px Roboto sans-serif;

}
table{
  font: 14px Roboto sans-serif;
  width: 80%; /* modifiez la largeur de la table */
  margin: auto; /* centre la table sur la page */
  font: 14px Roboto sans-serif; /* change le style de la police */
}
table td {
  padding: 10px; /* modifiez l'espacement à l'intérieur des cellules */
  text-align: center;

}
.nav-link.active{
  cursor: pointer;

}

.nav-link {
  cursor: pointer;

}

