
<div class="content" role="main" >
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: black;height: 65px;">
    <div class="container">
      <div class="nav-item">
        <img src="assets/logosoff.png" class="logo-image">
      </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/accueil">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
  <img src="assets/user-login-icon.png" alt="login icon">

  <div class="indentifier" >
 <h2>Identifiez vous</h2> </div>
  <mat-card>  
      <mat-card-content>
        <div class="form">
          <form action="/action_page.php" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Votre email" [(ngModel)]="userName" formControlName="email"  >
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="lastname" placeholder="Votre mot de passe" [(ngModel)]="password" formControlName="password">       
            <input type="submit" value="Login" color="#FF6600" style="background-color: #FF6600">
          </form>
        </div>  
      </mat-card-content>
    </mat-card>
  
  
  
</div>

