<div class="container-fluid g-0">  
  <app-header (sideNavToggled)="sideNavStatus= $event; ">    
  </app-header>
  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}" ></app-side-nav>
    <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <div class="content" role="main" >
        <div class="toolbar" role="banner">   
        </div>
        <div class="content" style="margin-left:-25%; margin-top: -10%;">
        <mat-card >
            <mat-card-header>
              <div class ="ajouter">
                <h2>Gestion des utilisateurs</h2></div>
            </mat-card-header>
            <mat-card-content>
                <div class="mat-elevation-z8">
                    <table mat-table matSort  [dataSource]="dataSource">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="Nom">
                        <th mat-header-cell *matHeaderCellDef> Nom </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container  matColumnDef="Prénom">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Prénom </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef> Role </th>
                        <td mat-cell *matCellDef="let element"> {{element.role.roleName ===''? 'Un Assigned':element.role.roleName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">                   
                              <span class="material-symbols-outlined" *ngIf="element.role.roleName !=='Admin'" (click)="updateuser(element.idUser)" mat-raised-button  color="#FF6600" style="color:navy">
                                edit
                                </span>               
                                <span class="material-symbols-outlined" *ngIf="element.role.roleName !=='Admin'" (click)="DeleteUser(element.idUser)" mat-raised-button  style="color: red">
                                  delete
                                  </span>
                          </td>
                      </ng-container>                 
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>           
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>
  </main>
</div>


