<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus= $event; ">
  </app-header>
  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>
    <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <div class="ajouter">
        <h2>Gestion des services télécoms</h2>
      </div>
      <div class="photo-container">
        <img src="assets/SERVICE.jpg" alt="Photo 1" (click)="openWithCheckAuth(modal1)">
        <img src="assets/multiple.png" alt="Photo 2" (click)="open(modal2)">
        <img src="assets/vpnl3.png" alt="Photo 3" (click)="open(modal3)">
        <img src="assets/qoss.png" alt="Photo 4" (click)="openWithCheck(modal4)">
      </div>
      <div class="title-container">
        <figcaption class="title-1">Services managés</figcaption>
        <figcaption class="title-2">Connexion internet</figcaption>
        <figcaption class="title-3">L3 VPN</figcaption>
        <figcaption class="title-4">Qos connexion internet</figcaption>
      </div>
      <!-- Le contenu à afficher dans la modale -->
      <ng-template #content let-modal #modal1>
        <div class="modal-header">
          <h4 class="modal-title">Services managés </h4>
          <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="modal.dismiss('Cross click')"></button>

        </div>
        <div class="modal-body">
          <fieldset>
            <div class="label">
              <label for="checkbox">Sélectionner un service managé </label>
            </div>
            <div class="labels">
              <label>
                <input id="black" type="radio" name="option" value="webfiltring" [(ngModel)]="selectedService">
                <span>
                  <img src="assets/web_filtering.png" alt="Web filtring"  >
                  <span class="text" for="black">{{ telecomServiceName }}</span>
                </span>

              </label>
              <label>
                <input id="black" type="radio" name="option" value="appControl" [(ngModel)]="selectedService">
                <span>
                  <img src="assets/appcontrol.png" alt="appControl">
                  <span class="text" for="black">{{ appControlServiceName }}</span>
                </span>

              </label>
              <label>
                <input id="black" type="radio" name="option" value="ips" [(ngModel)]="selectedService">
                <span>
                  <img src="assets/ips.png" alt="Ips">
                  <span class="text" for="black">{{ ipsServiceName }}</span>
                </span>

              </label>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" style=" background-color:#696969">Fermer</button>
          <button type="button" class="btn btn-secondary" (click)="confirmFortinet()" [disabled]="isButtonDisabled" [formGroup]="registerform"
            style=" background-color:#FF6600">Confirmer</button>
          <div *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </div>
        </div>
      </ng-template>
      <ng-template #content let-modal #modal2>
        <div class="modal-header">
          <h4 class="modal-title" >Connexion internet</h4>
          <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <fieldset style="border: 1px solid #424649;">
            <div class="label">
              <label for="checkbox">Sélectionner un site </label>
            </div>
            <div *ngFor="let site of sites" class="site-container">
              <label>
                <input id="black" type="radio" name="{{site.nameCompany}}" value="{{site.idSite}}"
                  [checked]="checkedSiteIds.includes(site.idSite)" (change)="updateCheckedSiteIdsInternet(site.idSite)">
                   <label for="black" >{{ site.city }}</label><br>
              </label>
            </div>

            <label for="checkbox">Entrer le débit internet </label> <br>
            <select class="custom-select"  [(ngModel)]="selectedBandwidth">
              <option [value]="'0'" disabled selected> selectionner un debit (en megabits) </option>
              <option *ngFor="let bandwidth of nbrBandwidth" [value]="bandwidth"> {{ bandwidth }}</option>
            </select>

          </fieldset>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
            style=" background-color:#696969">Fermer</button>
          <button type="button" class="btn btn-secondary" [disabled]="isButtonDisabled" [formGroup]="registerform"
            (click)="confirmNetwork()" style=" background-color:#FF6600">Confirmer</button>
          <div *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </div>
        </div>
      </ng-template>

      <ng-template #content let-modal #modal3>
        <div class="modal-header">
          <h4 class="modal-title">Service L3 VPN</h4>
          <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="label">
              <label for="checkbox">Sélectionner les sites </label>
            </div>
            <div *ngFor="let site of sites" class="site-container">
              <label>
                <input id="black" type="checkbox" name="idSite" [checked]="checkedSiteIds.includes(site.idSite)"
                  (change)="updateCheckedSiteIds(site.idSite)">
               <label for="black">  {{ site.city }} </label>
              </label>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
            style=" background-color:#696969">Fermer</button>
          <button type="button" class="btn btn-secondary" [disabled]="isButtonDisabled" [formGroup]="registerform"
            (click)="confirmVPN()" style=" background-color:#FF6600">Confirmer</button>
          <div *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </div>
        </div>
      </ng-template>
      <ng-template #content let-modal #modal4>
        <div class="modal-header">
          <h4 class="modal-title">Qos connexion internet</h4>
          <button type="button"  class="btn-close" aria-label="Close" style="border-color: #1e2125" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <fieldset style="border: 1px solid #424649;">
            <div class="label">
              <label for="checkbox">Sélectionner un site </label>
            </div>
            <div *ngFor="let site of sites" class="site-container">
              <label>
                <input id="black" type="radio" name="{{site.nameCompany}}" value="{{site.idSite}}"
                  [checked]="checkedSiteIds.includes(site.idSite)" (change)="updateCheckedSiteIdsInternet(site.idSite)">
                <label for="black" >{{ site.city }}</label> <br>
              </label>
            </div>

            <label for="checkbox">Entrer le débit internet </label> <br>
            <select class="custom-select"  [(ngModel)]="selectedBandwidth">
              <option [value]="'0'" disabled selected> selectionner un debit (en megabits) </option>
              <option *ngFor="let bandwidth of nbrBandwidth" [value]="bandwidth"> {{ bandwidth }}</option>
            </select>

          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
            style=" background-color:#696969">Fermer</button>
          <button type="button" class="btn btn-secondary" [disabled]="isButtonDisabled" [formGroup]="registerform"
            (click)="confirmQos()" style=" background-color:#FF6600">Confirmer</button>
          <div *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </div>
        </div>
      </ng-template>
    </div>
  </main>
</div>
