.black-border {
  border: 1px solid black;
  margin-top: 2px;



}

app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 50px;
  z-index: 2;
}

main {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 1;

}

app-side-nav {
  position: absolute;
  left: 0rem;
  height: calc(100vh - 50px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  border-top: 2px solid white;
  overflow: hidden;
  white-space: nowrap;
  width: 70px;


}

.app-side-nav-open {
  width: 250px;
}

.display-area {

  position: absolute;
  left: 70px;
  width: calc(100% - 250px);

}

.display-area-shrink {
  left: 230px;
  width: calc(100% - 250px);


}


.modal-title {
  color: #212529;  /* Dark gray color */
  font-size: 20px;  /* Increase the font size */
  font-weight: bold;  /* Make the title bold */

}



#map {
  height: 100vh;
  width: 200vh;

  position: fixed;

}


@media screen and (max-width: 90px) and (min-width: 50px) {}

.photo-container img {
  margin-top: 40px;
  width: calc(25% - 50px);
  margin-right: 55px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgba(30, 30, 30, 1);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.photo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 130px;
}

.photo-container img:last-child {
  margin-right: 0;
}

.title-container figcaption {
  width: calc(25% - 50px);
  margin-right: 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  height: 40px;
  font-family: "Arial", sans-serif;
  /* Police */
  font-weight: bold;
  /* Style gras */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 130px;

}

.title-container figcaption:last-child {
  margin-right: 0;
}

.title-1 {
  background-color: #FF6600;
  text-align: center;
}

.title-2 {
  background-color: #FF6600;
  text-align: center;
}

.title-3 {
  background-color: #FF6600;
  text-align: center;
}

.title-4 {
  background-color:#FF6600;
  text-align: center;
}
figcaption{
  margin-top: 3px;
}
.ajouter h2 {
  color: #FF6600;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 110px;
  letter-spacing: 2px;
  text-shadow: 1px 1px #ddd;
  padding: 20px;
 text-align: center;
  font-weight: bold;  /* Make the title bold */

}

label[for="checkbox"] {
  color: #FF6600;
  font-size: 17px;
  font-weight: bold;  /* Make the title bold */
}
label img {
  width: 120px;
  height: 120px;
}
.labels{
  margin-top: 30px;
}
label span {
  display: inline-flex;
  align-items: center;
}


label span img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

label span .text {
  font-size: 16px;
  color: #333;
}

.site-container {
  margin: 10px 0;
}

input[type=radio]#black {
  accent-color: black;
  margin-right: 10px;
}
select.custom-select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #424649;
  margin-top: 10px;
}
.modal-footer {
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}
.btn:hover {
  opacity: 0.8;
}

.spinner-border {
  margin-right: 5px;
}
fieldset {
  padding: 20px;
  border-color: #424649;
  border-radius: 5px;
  background-color: white;
}
.modal-body {
  padding: 20px;
}
.btn-close {
  border: none;
}
body {
  font-family: 'Arial', sans-serif;
}

.modal-header {
  padding: 15px;
  background-color: white;
  color: white;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #424649;
  margin-bottom: 10px;
}

input[type=checkbox]#black {
  accent-color: black;
  margin-right: 10px;
}

