
.black-border{
    border: 1px solid black;
    margin-top: 2px;
  
  
  
  }
  app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 50px;
    z-index: 2;
  }
  main{
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 1;
  
  }
  app-side-nav{
    position: absolute;
    left: 0rem;
    height: calc(100vh - 50px);
    box-shadow: 0px 0px 10px rgba(0, 0,0, 0.5);
    background-color: rgba(34, 34,34, 1);
    border-top: 2px solid white;
    overflow: hidden;
    white-space: nowrap;
    width: 70px;
  
  
  }
  .app-side-nav-open{
    width: 250px;
  }
  
  .display-area{
  
    position: absolute;
    left: 70px;
    width: calc(100% - 250px);
  
  }
  .display-area-shrink {
    left: 230px;
    width: calc(100% - 250px);
  
  
  }
    #map{
      height: 100vh;
      width: 200vh;  
    
      position: fixed;
    
    }
    
    
    @media screen and (max-width: 90px) and (min-width: 50px) {
      
    }
     