
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container" >
              
                    <div class="nav-item">
                        <img src="assets/logosoff.png" class="logo-image">
                      </div>
            
             
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services" >Solution</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Services télécom</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">A propos</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <div class="contenu" style="background-color: black;"> 
        <header class="masthead" [ngStyle]="{'background' : 'url(../assets/tel.png)  no-repeat center'}" style="margin-top: -50px;">
      
            <div class="container ">
                <div class="masthead-subheading"> </div>
                <div class="masthead-heading text-uppercase" >Bienvenue</div>
                <a class="btn  btn-xl text-uppercase" style="background-color: #FF6600;" href="#services" >Savoir plus</a>
            </div>
        </header>
    </div>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Solution</h2>
                    <h3 class="section-subheading text-muted">Notre solution vous offre:</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x"  style="color: #FF6600;"></i>
                            <i class="fas fa-satellite-dish fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Surveillance du réseau</h4>
                        <p class="text-muted">Vous pouez surveillez votre topologie réseau à distance en temps réel.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x" >
                            <i class="fas fa-circle fa-stack-2x " style="color: #FF6600;"></i>
                            <i class="fas fa-chart-line fa-stack-1x fa-inverse" ></i>
                        </span>     
                        <h4 class="my-3">Services de télécommunications</h4>
                        <p class="text-muted">Vous pouvez automatiser l'activation des services de télécommunications souhaités lors d'un simple clic. </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services de télécommunications</h2>
                    <h3 class="section-subheading text-muted">Vous trouverez ci dessous nos services disponibles.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item" id="portfolioitem">
                            <a class="portfolio-link" data-bs-toggle="modal"   href="#portfolioModal1"  >
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/raw.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">VPN niveau 3</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/mpls-networks.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Internet via mpls</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/qos.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Qos internet</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/manageds.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Services managés</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">A propos</h2>
                    <h3 class="section-subheading text-muted">...</h3>
                </div>
                <ul class="timeline" >
                    <li>
                        <div class="timeline-image" style="background-color: white;"><img class="rounded-circle img-fluid" src="assets/sofrecom.png"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023</h4>
                                <h4 class="subheading">Nos humbles débuts </h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Découvrez notre application web d'automatisation des services de télécommunications B2B, une solution révolutionnaire créée en 2023 par une équipe de jeunes ingénieurs passionnés. </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"style="background-color: white;"><img class="rounded-circle img-fluid" src="assets/automation.png"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                              
                                <h4 class="subheading">Automatisation des services de télécom</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Simplifiez votre activité en automatisant vos processus télécoms et bénéficiez d'une efficacité sans précédent. Notre interface conviviale et intuitive vous permettra de maîtriser vos services télécoms en toute simplicité.  </p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image" style="background-color: white;"><img class="rounded-circle img-fluid" src="assets/monitoring.jpg"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                              
                                <h4 class="subheading">Surveillance de la topologie réseau</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Notre application web offre également une fonctionnalité de surveillance de la topologie réseau. Gardez un œil sur la santé de votre réseau en temps réel grâce à notre outil de surveillance avancé. Avec une vue claire de votre topologie réseau, vous pourrez prendre des décisions éclairées pour optimiser les performances et assurer une disponibilité maximale de vos services. Profitez de cette fonctionnalité essentielle pour maintenir un réseau fiable et performant.
                            !</p></div>
                        </div>
                    </li>
                   
                    <li class="timeline-inverted">
                        <div class="timeline-image"style="background-color: #FF6600;" >
                            <h4>
                                Be Part
                                <br />
                                Of Our
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
  
        <!-- Contact-->
        <section class="page-section" id="contact" >
            <div class="container" [ngStyle]="{'background' : 'url(../assets/img/mapimage.png) '}">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contactez-nous</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="6ca88c25-06c9-451c-bdbc-4d4221433861">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Votre nom *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Le nom est obligatoire.</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="Votre email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">L'email est obligatoire.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">L'mail non valide.</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Votre téléphone*" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Le numéro de téléphone est obligatoire .</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Votre message*" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Le message est obligatoire.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder" style="color: #FF6600;">Votre formulaire soumis avec succès!</div>
                            
                            <br />
                          
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur lors de l'envoi dumessage!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Envoyer un message</button></div>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start"><img src="assets/sofrecom.png" class="logo-footer"></div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true"  data-bs-backdrop="false"  >
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal" ><img src="assets/img/close-icon.svg" alt="Close modal"  /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">L3VPN</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/raw.png" alt="..." />
                                    <p>Un service de réseau privé virtuel qui offre une connectivité sécurisée et fiable entre différents sites ou réseaux distants.<br> Avec L3VPN, votre entreprise peut bénéficier d'une:</p>
                                     <p>    </p>
                                    <ul class="list-inline" style="  text-align: left; margin-left: 60px; ">
                                        <li>
                                            <strong>- Sécurité renforcée  </strong>
                                        </li>
                                        <li>
                                            <strong>- Connectivité étendue</strong>
                                        </li> 
                                        <li>
                                            <strong>- Gestion efficace du réseau</strong>
                                        </li>
                                        <li>
                                            <strong>- Réduction des coûts liés à l'infrastructure réseau</strong>
                                        </li>                                   
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" >
                                        <i class="fas fa-xmark me-1" ></i>
                                       Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Internet via MPLS</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/mpls-networks.jpg"  alt="..." />
                                    <p>Ce service révolutionnaire vous offre la possibilité d'accéder à une connexion Internet rapide et stable adaptée à vos besoins spécifiques<Br>. Avec Internet Via MPLS, vous avez la liberté de choisir le débit souhaité, garantissant ainsi une expérience Internet fluide et sans interruptions.
                                        </p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" >
                                        <i class="fas fa-xmark me-1"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Qualité de service</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/qos.png" alt="..." />
                                    <p>Ce service vous offre une flexibilité totale en vous permettant de personnaliser votre expérience en ligne en ajustant la bande passante à vos besoins spécifiques.<Br> Plus de compromis sur la vitesse, avec notre service, vous êtes maître de votre connexion Internet. </p>
                                    
                                       
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Services managés</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/manageds.png" alt="..." />
                                    <p>Optez pour nos services de gestion des télécommunications et confiez vos besoins à des experts externes avec une licence de 6 mois dès l'activation.<br> <span ><strong>Découvrez ci dessous notre sélection de services managés conçus spécialement pour vous.</strong></span></p>
                                    <ul class="list-inline" style="  text-align: left;">
                                        <li>
                                            <strong><span style="color: #FF6600;">IPS : </span></strong>
                                            Permet de détecter et prévenir les intrusions et les attaques. <br>
                                        </li>
                                        <li>
                                            <br>  <strong><span style="color: #FF6600;">App Control :</span></strong>
                                             Permet la restriction des applications non autorisées et la surveillance des applications.<br>
                                        </li>
                                        <li>
                                           <br>  <strong><span style="color: #FF6600;"> Web Filtering :</span> </strong>
                                             Permet de contrôler l'accès aux sites web et de protéger le réseau contre les menaces liées à la navigation sur Internet. <br>
                                        </li>
                                       
                                       
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Southwest
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Website Design
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 