<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event"> </app-header>
  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{ 'app-side-nav-open': sideNavStatus }"></app-side-nav>
    <div class="display-area" [ngClass]="{ 'display-area-shrink': sideNavStatus }">
      <div class="content" style="width:50%; margin-top: -5%; margin-left: 20%;">
        <div class="content" role="main">
          <div class="toolbar" role="banner"></div>
          <mat-card-header>
            <div class="ajouter">
              <h2>Ajouter utilisateur</h2>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="form">
              <form [formGroup]="registerForm" (ngSubmit)="proceedregister()">
                <label for="nom">Nom</label>
                <input type="text" id="nom" placeholder="Nom" formControlName="lastName">
                <div class="alert alert-danger d-flex align-items-center" role="alert"
                  *ngIf="registerForm.get('lastName')!.touched && registerForm.get('lastName')!.invalid">
                  {{ getErrorMessage("lastName") }}
                </div>

                <label for="firstName" [class.hide-label]="registerForm.get('lastName')?.invalid">Prénom</label>
                <input type="text" id="firstName" name="firstName" placeholder="Prénom" formControlName="firstName">
                <div class="alert alert-danger d-flex align-items-center" role="alert"
                  *ngIf="registerForm.get('firstName')!.touched && registerForm.get('firstName')!.invalid">
                  {{ getErrorMessage("firstName") }}
                </div>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" formControlName="email">
                <div class="alert alert-danger d-flex align-items-center" role="alert"
                  *ngIf="registerForm.get('email')!.touched && registerForm.get('email')!.invalid">
                  {{ getErrorMessage("email") }}
                </div>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe"
                  formControlName="password">
                <div class="alert alert-danger d-flex align-items-center" role="alert"
                  *ngIf="registerForm.get('password')!.touched && registerForm.get('password')!.invalid">
                  {{ getErrorMessage("password") }}
                </div>

                <label for="permission">Permission</label>
                <select id="permission" name="permission" formControlName="idRole">
                  <option *ngFor="let item of rolelist" [value]="item.idRole">{{ item.roleName }}</option>
                </select>
                <input type="submit" value="Confirmer" style="background-color: #FF6600">
              </form>
            </div>
          </mat-card-content>
        </div>
      </div>
    </div>
  </main>
</div>
