<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus= $event; ">
  </app-header>
  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>
    <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <div class="ajouter" style="margin-top: 10%;  margin-left: 27%;">
        <h2>Pramètres du compte</h2>
      </div>
      <div class="table-container">
        <table class="mat-table">
          <div class="mat-elevation-z8">
            <tr class="mat-header-row">
              <th class="mat-cell1">Nom</th>
              <input [(ngModel)]="user.firstName" name="firstName">
            </tr>
            <tr class="mat-row">
              <th class="mat-cell1">Prénom</th>
              <input [(ngModel)]="user.lastName" name="lastName">

           <!--   <input class="mat-cell" value="{{ user.firstName }}">-->
            </tr>
            <tr class="mat-row">
              <th class="mat-cell1">Email</th>
              <input [(ngModel)]="user.email" name="email">


            </tr>
            <tr class="mat-row">


              <th class="mat-cell1">Mot de passe</th>
              <input [(ngModel)]="user.password" type="password" name="password">
             <!--  <span class="material-symbols-outlined mr-2" (click)="toggleShowPassword()">
                  visibility
                </span>--> 
            </tr>
          </div>
        </table>
      </div>
      <div class="login">
        <button (click)="updateUser()" mat-raised-button color="#FF6600" style="background-color: #FF6600">Enregistrer les changements</button>

      </div>
    </div>
  </main>
</div>