.black-border {
  border: 1px solid black;
  margin-top: 2px;
}

app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 50px;
  z-index: 2;
}

main {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 1;

}

app-side-nav {
  position: absolute;
  left: 0rem;
  height: calc(100vh - 50px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  border-top: 2px solid white;
  overflow: hidden;
  white-space: nowrap;
  width: 70px;


}

.app-side-nav-open {
  width: 250px;
}

.display-area {

  position: absolute;
  left: 70px;
  width: calc(100% - 250px);

}

.display-area-shrink {
  left: 230px;
  width: calc(100% - 250px);
}

#map {
  height: 100vh;
  width: 200vh;
  position: fixed;
}

@media screen and (max-width: 90px) and (min-width: 50px) {}

.login {
  color: white;
  margin-left: 33%;
}

.mat-table {
  width: 50%;
  border-collapse: collapse;
  font-size: 14px;
  margin-left: 33%;
}

.mat-header-row,
.mat-row {
  display: flex;
  flex-wrap: wrap;
}

.mat-header-cell,
.mat-cell {
  box-sizing: border-box;
  padding: 12px 16px;
  flex: 1 1 50%;
  border: 1px solid #ccc;
}

.mat-header-cell,
.mat-cell1 {
  box-sizing: border-box;
  padding: 12px 16px;
  flex: 1 1 10%;
  border: 1px solid #ccc;
}

.mat-header-cell {
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
}

.ajouter h2 {
  color: #FF6600;
  font-size: 30px;
  /* taille de police */
  letter-spacing: 2px;
  /* espacement entre les lettres */
  text-shadow: 1px 1px #ddd;
  /* ombre de texte */
  padding: 20px;
  margin-left: 5.5%;

}

.material-symbols-outlined {
  cursor: pointer;
  color: #FF6600;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
input{
  width: 350px;
}